#
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Bootloader"

config MCUBOOT_BOOTLOADER_SIGNATURE_TYPE_ED25519
	bool "Use ED25519 signature"
	help
	  This is a Kconfig which is informative only, the value should not be changed.

config MCUBOOT_BOOTLOADER_SIGNATURE_TYPE_PURE
	bool "Signature is verified over an image rather than sha of an image"
	help
	  This is a Kconfig which is informative only, the value should not be changed.

endmenu
